<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Расчет категории помещений и зданий по взрывопожарной и пожарной опасности</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top text-center">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Content/logo.png" class="logo" />
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                    <li>@Html.ActionLink("Проект", "Index", "Home")</li>
                    <li>@Html.ActionLink("Расчет", "About", "Home")</li>
                    <li>@Html.ActionLink("Справка", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    @Html.Partial("_LoginPartial")
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="pull-left">
                <p>&copy; С. Садков, В. Попов @DateTime.Now.Year</p>
            </div>
            <div class="pull-right text-right">
                <img src="~/Content/fond.png" class="fond" />
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
