@model pb_category.Models.OrganizationViewModel
@{
    ViewBag.Title = "Выбор категории";
}
<div class="row">
    <h3>Какие наиболее пожароопасные вещества и материалы находятся в помещении?</h3>
</div>
@using (Html.BeginForm("SelectCategory", "Home", null, FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="row categoryNameCenter">
        <table>
            <tbody>
                <tr>
                    <td>
                        <span id="Category" class="circle"><u>A</u></span>
                    </td>
                    <td>
                        <span id="Category" class="circle"><u>Б</u></span>
                    </td>
                    <td>
                        <span id="Category" class="circle"><u>В</u></span>
                    </td>
                    <td>
                        <span id="Category" class="circle"><u>Г</u></span>
                    </td>
                    <td>
                        <span id="Category" class="circle"><u>Д</u></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row categoryCenter">
        <table>
            <tbody>
                <tr>
                    <td class="border-bottom-right">
                        <input type="radio" name="Category" value="A1" @(Model.Category == "A1" ? "checked" : "") />
                        Горючие газы
                    </td>
                    <td class="border-bottom-right">
                        <input type="radio" name="Category" value="B1" @(Model.Category == "B1" ? "checked" : "")  />
                        Горючие пыли или волокна
                    </td>
                    <td rowspan="2" class="border-bottom-right">
                        <input type="radio" name="Category" value="C1" @(Model.Category == "C1" ? "checked" : "")  />
                        Твердые горючие и трудногорючие вещества и материалы
                    </td>
                    <td rowspan="2" class="border-bottom-right">
                        <input type="radio" name="Category" value="D1" @(Model.Category == "D1" ? "checked" : "")  />
                        Негорючие вещества и материалы в горячем состоянии (раскаленном или расплавленном)
                    </td>
                    <td rowspan="4">
                        <input type="radio" name="Category" value="E1" @(Model.Category == "E1" ? "checked" : "")  />
                        Негорючие вещества и материалы в холодном состоянии
                    </td>
                </tr>
                <tr>
                    <td rowspan="2" class="border-bottom-right">
                        <input type="radio" name="Category" value="A2" @(Model.Category == "A2" ? "checked" : "") />
                        ЛВЖ с температурой вспышки не более 28 °С
                    </td>
                    <td rowspan="2" class="border-bottom-right">
                        <input type="radio" name="Category" value="B2" @(Model.Category == "B2" ? "checked" : "") />
                        ЛВЖ с температурой вспышки более 28 °С
                    </td>
                </tr>
                <tr>
                    <td rowspan="2" class="border-right">
                        <input type="radio" name="Category" value="C2" @(Model.Category == "C2" ? "checked" : "") />
                        Трудногорючие жидкости
                    </td>
                    <td rowspan="2" class="border-right">
                        <input type="radio" name="Category" value="D2" @(Model.Category == "D2" ? "checked" : "") />
                        Сжигаемые в качестве топлива горючие газы, жидкости и твердые вещества, которые
                    </td>
                </tr>
                <tr>
                    <td class="border-right">
                        <input type="radio" name="Category" value="A3" @(Model.Category == "A3" ? "checked" : "") />
                        Способные взрываться и гореть вещества и материалы при взаимодействии с водой, кислородом воздуха или друг с другом
                    </td>
                    <td class="border-right">
                        <input type="radio" name="Category" value="B3" @(Model.Category == "B3" ? "checked" : "") />
                        Горючие жидкости
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <h3>Введите сведения об организации</h3>
    </div>
    <div class="row well organization">
        <div class="col-xs-4">
            <h4>Наименование организации</h4>
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })

            @Html.TextBoxFor(m => m.Name)
            <h4>Адрес</h4>
            @Html.TextBoxFor(m => m.Address)
            <h4>Наименование помещения</h4>
            @Html.TextAreaFor(model => model.Annotation, 5, 25, null)
        </div>
        <div class="col-xs-4">
            <h4>Краткая характеристика объекта</h4>
            @Html.TextAreaFor(model => model.Characteristic, 10, 25, null)
        </div>
        <div class="col-xs-4">
            <h4>Длина, м</h4>
            @Html.ValidationMessageFor(m => m.Length, "", new { @class = "text-danger" })
            @Html.TextBoxFor(m => m.Length)
            <h4>Ширина, м</h4>
            @Html.ValidationMessageFor(m => m.Width, "", new { @class = "text-danger" })
            @Html.TextBoxFor(m => m.Width)
            <h4>Высота, м</h4>
            @Html.ValidationMessageFor(m => m.Height, "", new { @class = "text-danger" })
            @Html.TextBoxFor(m => m.Height)
        </div>
    </div>
    <div class="row">
        <input type="submit" class="btn" value="Начать" />
    </div>
}
<script>
    $(document).on('click', 'td', function () {
        $('*td').removeClass('selected');
        $(this).addClass('selected');
        var target = $(this).find('input[type="radio"]');
        target.prop('checked', !target.prop('checked'));
    });
    $(function () {
        $('input[type=radio]').each(function() {
            if ($(this).is(":checked")) {
                $(this).parent().toggleClass('selected');
           }
        });
    });
</script>