<p>
    <span class="MathJax" id="MathJax-Element-314-Frame" tabindex="0" style="text-align: center;"><nobr><span class="math" id="MathJax-Span-1766" style="width: 2.502em; display: inline-block;"><span style="display: inline-block; position: relative; width: 2.085em; height: 0px; font-size: 120%;"><span style="position: absolute; clip: rect(1.294em 1002.09em 2.544em -999.998em); top: -2.206em; left: 0em;"><span class="mrow" id="MathJax-Span-1767"><span class="mi" id="MathJax-Span-1768" style="font-family: MathJax_Math-italic;">m</span><span class="mo" id="MathJax-Span-1769" style="font-family: MathJax_Main;">,</span><span class="texatom" id="MathJax-Span-1770" style="padding-left: 0.169em;"><span class="mrow" id="MathJax-Span-1771"><span class="mo" id="MathJax-Span-1772"><span style="font-family: STIXGeneral, 'Arial Unicode MS', serif; font-size: 83%; font-style: normal; font-weight: normal;">к</span></span></span></span><span class="texatom" id="MathJax-Span-1773"><span class="mrow" id="MathJax-Span-1774"><span class="mo" id="MathJax-Span-1775"><span style="font-family: STIXGeneral, 'Arial Unicode MS', serif; font-size: 83%; font-style: normal; font-weight: normal;">г</span></span></span></span></span><span style="display: inline-block; width: 0px; height: 2.21em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.297em; border-left: 0px solid; width: 0px; height: 1.302em;"></span></span></nobr></span>
    <input id="Mkg" name="Mkg" type="text" value="@Model.Mkg"> <span id="alertMkg" class="alert"></span>
</p>
<p>масса поступившего в помещение при расчетной аварии газа</p>
<a href="#spoiler-8" data-toggle="collapse">Рассчитать ▼</a>
<div class="collapse" id="spoiler-8">
    <span class="MathJax" id="MathJax-Element-308-Frame" tabindex="0" style="text-align: center;"><nobr><span class="math" id="MathJax-Span-1588" style="width: 12.627em; display: inline-block;"><span style="display: inline-block; position: relative; width: 10.502em; height: 0px; font-size: 120%;"><span style="position: absolute; clip: rect(1.502em 1010.5em 2.71em -999.998em); top: -2.206em; left: 0em;"><span class="mrow" id="MathJax-Span-1589"><span class="mi" id="MathJax-Span-1590" style="font-family: MathJax_Math-italic;">m</span><span class="mo" id="MathJax-Span-1591" style="font-family: MathJax_Main; padding-left: 0.294em;">=</span><span class="msubsup" id="MathJax-Span-1592" style="padding-left: 0.294em;"><span style="display: inline-block; position: relative; width: 1.252em; height: 0px;"><span style="position: absolute; clip: rect(3.419em 1000.88em 4.127em -999.998em); top: -3.998em; left: 0em;"><span class="mi" id="MathJax-Span-1593" style="font-family: MathJax_Math-italic;">m</span><span style="display: inline-block; width: 0px; height: 4.002em;"></span></span><span style="position: absolute; top: -1.956em; left: 0.877em;"><span class="texatom" id="MathJax-Span-1594"><span class="mrow" id="MathJax-Span-1595"><span class="texatom" id="MathJax-Span-1596"><span class="mrow" id="MathJax-Span-1597"><span class="mo" id="MathJax-Span-1598" style="font-size: 70.7%;"><span style="font-family: STIXGeneral, &quot;Arial Unicode MS&quot;, serif; font-size: 83%; font-style: normal; font-weight: normal;">р</span></span></span></span></span></span><span style="display: inline-block; width: 0px; height: 2.169em;"></span></span></span></span><span class="mo" id="MathJax-Span-1599" style="font-family: MathJax_Main; padding-left: 0.21em;">+</span><span class="msubsup" id="MathJax-Span-1600" style="padding-left: 0.21em;"><span style="display: inline-block; position: relative; width: 1.877em; height: 0px;"><span style="position: absolute; clip: rect(3.419em 1000.88em 4.127em -999.998em); top: -3.998em; left: 0em;"><span class="mi" id="MathJax-Span-1601" style="font-family: MathJax_Math-italic;">m</span><span style="display: inline-block; width: 0px; height: 4.002em;"></span></span><span style="position: absolute; top: -1.956em; left: 0.877em;"><span class="texatom" id="MathJax-Span-1602"><span class="mrow" id="MathJax-Span-1603"><span class="texatom" id="MathJax-Span-1604"><span class="mrow" id="MathJax-Span-1605"><span class="mo" id="MathJax-Span-1606" style="font-size: 70.7%;"><span style="font-family: STIXGeneral, &quot;Arial Unicode MS&quot;, serif; font-size: 83%; font-style: normal; font-weight: normal;">е</span></span></span></span><span class="texatom" id="MathJax-Span-1607"><span class="mrow" id="MathJax-Span-1608"><span class="mo" id="MathJax-Span-1609" style="font-size: 70.7%;"><span style="font-family: STIXGeneral, &quot;Arial Unicode MS&quot;, serif; font-size: 83%; font-style: normal; font-weight: normal;">м</span></span></span></span><span class="texatom" id="MathJax-Span-1610"><span class="mrow" id="MathJax-Span-1611"><span class="mo" id="MathJax-Span-1612" style="font-size: 70.7%;"><span style="font-family: STIXGeneral, &quot;Arial Unicode MS&quot;, serif; font-size: 83%; font-style: normal; font-weight: normal;">к</span></span></span></span></span></span><span style="display: inline-block; width: 0px; height: 2.169em;"></span></span></span></span><span class="mo" id="MathJax-Span-1613" style="font-family: MathJax_Main; padding-left: 0.21em;">+</span><span class="msubsup" id="MathJax-Span-1614" style="padding-left: 0.21em;"><span style="display: inline-block; position: relative; width: 2.752em; height: 0px;"><span style="position: absolute; clip: rect(3.419em 1000.88em 4.127em -999.998em); top: -3.998em; left: 0em;"><span class="mi" id="MathJax-Span-1615" style="font-family: MathJax_Math-italic;">m</span><span style="display: inline-block; width: 0px; height: 4.002em;"></span></span><span style="position: absolute; top: -1.956em; left: 0.877em;"><span class="texatom" id="MathJax-Span-1616"><span class="mrow" id="MathJax-Span-1617"><span class="texatom" id="MathJax-Span-1618"><span class="mrow" id="MathJax-Span-1619"><span class="mo" id="MathJax-Span-1620" style="font-size: 70.7%;"><span style="font-family: STIXGeneral, &quot;Arial Unicode MS&quot;, serif; font-size: 83%; font-style: normal; font-weight: normal;">с</span></span></span></span><span class="texatom" id="MathJax-Span-1621"><span class="mrow" id="MathJax-Span-1622"><span class="mo" id="MathJax-Span-1623" style="font-size: 70.7%;"><span style="font-family: STIXGeneral, &quot;Arial Unicode MS&quot;, serif; font-size: 83%; font-style: normal; font-weight: normal;">в</span></span></span></span><span class="mo" id="MathJax-Span-1624" style="font-size: 70.7%; font-family: MathJax_Main;">.</span><span class="texatom" id="MathJax-Span-1625"><span class="mrow" id="MathJax-Span-1626"><span class="mo" id="MathJax-Span-1627" style="font-size: 70.7%;"><span style="font-family: STIXGeneral, &quot;Arial Unicode MS&quot;, serif; font-size: 83%; font-style: normal; font-weight: normal;">о</span></span></span></span><span class="texatom" id="MathJax-Span-1628"><span class="mrow" id="MathJax-Span-1629"><span class="mo" id="MathJax-Span-1630" style="font-size: 70.7%;"><span style="font-family: STIXGeneral, &quot;Arial Unicode MS&quot;, serif; font-size: 83%; font-style: normal; font-weight: normal;">к</span></span></span></span><span class="texatom" id="MathJax-Span-1631"><span class="mrow" id="MathJax-Span-1632"><span class="mo" id="MathJax-Span-1633" style="font-size: 70.7%;"><span style="font-family: STIXGeneral, &quot;Arial Unicode MS&quot;, serif; font-size: 83%; font-style: normal; font-weight: normal;">р</span></span></span></span><span class="mo" id="MathJax-Span-1634" style="font-size: 70.7%; font-family: MathJax_Main;">.</span></span></span><span style="display: inline-block; width: 0px; height: 2.169em;"></span></span></span></span></span><span style="display: inline-block; width: 0px; height: 2.21em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.497em; border-left: 0px solid; width: 0px; height: 1.252em;"></span></span></nobr></span>
    <div class="well">
        <span class="MathJax" id="MathJax-Element-338-Frame" tabindex="0" style="text-align: center;"><nobr><span class="math" id="MathJax-Span-1945" style="width: 2.96em; display: inline-block;"><span style="display: inline-block; position: relative; width: 2.46em; height: 0px; font-size: 120%;"><span style="position: absolute; clip: rect(1.294em 1002.46em 2.71em -999.998em); top: -2.206em; left: 0em;"><span class="mrow" id="MathJax-Span-1946"><span class="msubsup" id="MathJax-Span-1947"><span style="display: inline-block; position: relative; width: 1.252em; height: 0px;"><span style="position: absolute; clip: rect(3.419em 1000.88em 4.127em -999.998em); top: -3.998em; left: 0em;"><span class="mi" id="MathJax-Span-1948" style="font-family: MathJax_Math-italic;">m</span><span style="display: inline-block; width: 0px; height: 4.002em;"></span></span><span style="position: absolute; top: -1.956em; left: 0.877em;"><span class="texatom" id="MathJax-Span-1949"><span class="mrow" id="MathJax-Span-1950"><span class="mo" id="MathJax-Span-1951" style="font-size: 70.7%;"><span style="font-family: STIXGeneral, &quot;Arial Unicode MS&quot;, serif; font-size: 83%; font-style: normal; font-weight: normal;">р</span></span></span></span><span style="display: inline-block; width: 0px; height: 2.169em;"></span></span></span></span><span class="mo" id="MathJax-Span-1952" style="font-family: MathJax_Main;">,</span><span class="texatom" id="MathJax-Span-1953" style="padding-left: 0.169em;"><span class="mrow" id="MathJax-Span-1954"><span class="mo" id="MathJax-Span-1955"><span style="font-family: STIXGeneral, &quot;Arial Unicode MS&quot;, serif; font-size: 83%; font-style: normal; font-weight: normal;">к</span></span></span></span><span class="texatom" id="MathJax-Span-1956"><span class="mrow" id="MathJax-Span-1957"><span class="mo" id="MathJax-Span-1958"><span style="font-family: STIXGeneral, &quot;Arial Unicode MS&quot;, serif; font-size: 83%; font-style: normal; font-weight: normal;">г</span></span></span></span></span><span style="display: inline-block; width: 0px; height: 2.21em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.497em; border-left: 0px solid; width: 0px; height: 1.502em;"></span></span></nobr></span>
        <input id="Mr" name="Mr" type="text" value="@Model.Mr"> <span id="alertMr" class="alert"></span>
        <p>жидкости, испарившейся с поверхности разлива</p>
        <a href="#spoiler-8mr" data-toggle="collapse">Рассчитать ▼</a>
        <div class="collapse well" id="spoiler-8mr">
            <span class="MathJax" id="MathJax-Element-354-Frame" tabindex="0" style="text-align: center;"><nobr><span class="math" id="MathJax-Span-2056" style="width: 6.502em; display: inline-block;"><span style="display: inline-block; position: relative; width: 5.419em; height: 0px; font-size: 120%;"><span style="position: absolute; clip: rect(1.419em 1005.42em 2.71em -999.998em); top: -2.206em; left: 0em;"><span class="mrow" id="MathJax-Span-2057"><span class="msubsup" id="MathJax-Span-2058"><span style="display: inline-block; position: relative; width: 1.252em; height: 0px;"><span style="position: absolute; clip: rect(3.419em 1000.88em 4.127em -999.998em); top: -3.998em; left: 0em;"><span class="mi" id="MathJax-Span-2059" style="font-family: MathJax_Math-italic;">m</span><span style="display: inline-block; width: 0px; height: 4.002em;"></span></span><span style="position: absolute; top: -1.956em; left: 0.877em;"><span class="texatom" id="MathJax-Span-2060"><span class="mrow" id="MathJax-Span-2061"><span class="mo" id="MathJax-Span-2062" style="font-size: 70.7%;"><span style="font-family: STIXGeneral, &quot;Arial Unicode MS&quot;, serif; font-size: 83%; font-style: normal; font-weight: normal;">р</span></span></span></span><span style="display: inline-block; width: 0px; height: 2.169em;"></span></span></span></span><span class="mo" id="MathJax-Span-2063" style="font-family: MathJax_Main; padding-left: 0.294em;">=</span><span class="mi" id="MathJax-Span-2064" style="font-family: MathJax_Math-italic; padding-left: 0.294em;">W<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.085em;"></span></span><span class="msubsup" id="MathJax-Span-2065"><span style="display: inline-block; position: relative; width: 1.044em; height: 0px;"><span style="position: absolute; clip: rect(3.21em 1000.75em 4.127em -999.998em); top: -3.998em; left: 0em;"><span class="mi" id="MathJax-Span-2066" style="font-family: MathJax_Math-italic;">F<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.127em;"></span></span><span style="display: inline-block; width: 0px; height: 4.002em;"></span></span><span style="position: absolute; top: -1.956em; left: 0.627em;"><span class="texatom" id="MathJax-Span-2067"><span class="mrow" id="MathJax-Span-2068"><span class="mo" id="MathJax-Span-2069" style="font-size: 70.7%;"><span style="font-family: STIXGeneral, &quot;Arial Unicode MS&quot;, serif; font-size: 83%; font-style: normal; font-weight: normal;">и</span></span></span></span><span style="display: inline-block; width: 0px; height: 2.169em;"></span></span></span></span><span class="mi" id="MathJax-Span-2070" style="font-family: MathJax_Math-italic;">T<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.127em;"></span></span></span><span style="display: inline-block; width: 0px; height: 2.21em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.497em; border-left: 0px solid; width: 0px; height: 1.353em;"></span></span></nobr></span>
            <div class="well">
                <span class="MathJax" id="MathJax-Element-360-Frame" tabindex="0" style="text-align: center;"><nobr><span class="math" id="MathJax-Span-2114" style="width: 5.71em; display: inline-block;"><span style="display: inline-block; position: relative; width: 4.752em; height: 0px; font-size: 120%;"><span style="position: absolute; clip: rect(1.085em 1004.75em 2.585em -999.998em); top: -2.206em; left: 0em;"><span class="mrow" id="MathJax-Span-2115"><span class="mi" id="MathJax-Span-2116" style="font-family: MathJax_Math-italic;">W<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.085em;"></span></span><span class="mo" id="MathJax-Span-2117" style="font-family: MathJax_Main;">,</span><span class="texatom" id="MathJax-Span-2118" style="padding-left: 0.169em;"><span class="mrow" id="MathJax-Span-2119"><span class="mo" id="MathJax-Span-2120"><span style="font-family: STIXGeneral, &quot;Arial Unicode MS&quot;, serif; font-size: 83%; font-style: normal; font-weight: normal;">к</span></span></span></span><span class="texatom" id="MathJax-Span-2121"><span class="mrow" id="MathJax-Span-2122"><span class="mo" id="MathJax-Span-2123"><span style="font-family: STIXGeneral, &quot;Arial Unicode MS&quot;, serif; font-size: 83%; font-style: normal; font-weight: normal;">г</span></span></span></span><span class="texatom" id="MathJax-Span-2124"><span class="mrow" id="MathJax-Span-2125"><span class="mo" id="MathJax-Span-2126" style="font-family: MathJax_Main;">/</span></span></span><span class="texatom" id="MathJax-Span-2127"><span class="mrow" id="MathJax-Span-2128"><span class="mo" id="MathJax-Span-2129"><span style="font-family: STIXGeneral, &quot;Arial Unicode MS&quot;, serif; font-size: 83%; font-style: normal; font-weight: normal;">с</span></span></span></span><span class="mo" id="MathJax-Span-2130" style="font-family: MathJax_Main; padding-left: 0.21em;">⋅</span><span class="msubsup" id="MathJax-Span-2131" style="padding-left: 0.21em;"><span style="display: inline-block; position: relative; width: 0.96em; height: 0px;"><span style="position: absolute; clip: rect(1.252em 1000.54em 2.502em -999.998em); top: -2.165em; left: 0em;"><span class="texatom" id="MathJax-Span-2132"><span class="mrow" id="MathJax-Span-2133"><span class="mo" id="MathJax-Span-2134"><span style="font-family: STIXGeneral, &quot;Arial Unicode MS&quot;, serif; font-size: 83%; font-style: normal; font-weight: normal;">м</span></span></span></span><span style="display: inline-block; width: 0px; height: 2.169em;"></span></span><span style="position: absolute; top: -4.54em; left: 0.544em;"><span class="mn" id="MathJax-Span-2135" style="font-size: 70.7%; font-family: MathJax_Main;">2</span><span style="display: inline-block; width: 0px; height: 4.002em;"></span></span></span></span></span><span style="display: inline-block; width: 0px; height: 2.21em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.348em; border-left: 0px solid; width: 0px; height: 1.602em;"></span></span></nobr></span>
                <input id="W" name="W" type="text" value="@Model.W"> <span id="alertW" class="alert"></span> интенсивность испарения
                <a href="#spoiler-8w" data-toggle="collapse">Рассчитать ▼</a>
                <div class="collapse well" id="spoiler-8w">
                    <span class="MathJax" id="MathJax-Element-403-Frame" tabindex="0" style="text-align: center;"><nobr><span class="math" id="MathJax-Span-2359" style="width: 11.169em; display: inline-block;"><span style="display: inline-block; position: relative; width: 9.294em; height: 0px; font-size: 120%;"><span style="position: absolute; clip: rect(1.21em 1009.29em 2.71em -999.998em); top: -2.206em; left: 0em;"><span class="mrow" id="MathJax-Span-2360"><span class="mi" id="MathJax-Span-2361" style="font-family: MathJax_Math-italic;">W<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.085em;"></span></span><span class="mo" id="MathJax-Span-2362" style="font-family: MathJax_Main; padding-left: 0.294em;">=</span><span class="msubsup" id="MathJax-Span-2363" style="padding-left: 0.294em;"><span style="display: inline-block; position: relative; width: 1.96em; height: 0px;"><span style="position: absolute; clip: rect(3.21em 1000.96em 4.169em -999.998em); top: -3.998em; left: 0em;"><span class="mn" id="MathJax-Span-2364" style="font-family: MathJax_Main;">10</span><span style="display: inline-block; width: 0px; height: 4.002em;"></span></span><span style="position: absolute; top: -4.415em; left: 1.002em;"><span class="texatom" id="MathJax-Span-2365"><span class="mrow" id="MathJax-Span-2366"><span class="mo" id="MathJax-Span-2367" style="font-size: 70.7%; font-family: MathJax_Main;">−</span><span class="mn" id="MathJax-Span-2368" style="font-size: 70.7%; font-family: MathJax_Main;">6</span></span></span><span style="display: inline-block; width: 0px; height: 4.002em;"></span></span></span></span><span class="mo" id="MathJax-Span-2369" style="font-family: MathJax_Main; padding-left: 0.21em;">⋅</span><span class="mi" id="MathJax-Span-2370" style="font-family: MathJax_Math-italic; padding-left: 0.21em;">η<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.002em;"></span></span><span class="msqrt" id="MathJax-Span-2371"><span style="display: inline-block; position: relative; width: 2.002em; height: 0px;"><span style="position: absolute; clip: rect(3.21em 1001.04em 4.127em -999.998em); top: -3.998em; left: 0.835em;"><span class="mrow" id="MathJax-Span-2372"><span class="mi" id="MathJax-Span-2373" style="font-family: MathJax_Math-italic;">M<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.085em;"></span></span></span><span style="display: inline-block; width: 0px; height: 4.002em;"></span></span><span style="position: absolute; clip: rect(3.585em 1001.17em 3.919em -999.998em); top: -4.54em; left: 0.835em;"><span style="display: inline-block; position: relative; width: 1.169em; height: 0px;"><span style="position: absolute; font-family: MathJax_Main; top: -4.1em; left: -0.33em;">−<span style="display: inline-block; width: 0px; height: 4.002em;"></span></span><span style="position: absolute; font-family: MathJax_Main; top: -4.1em; left: 0.19em;">−<span style="display: inline-block; width: 0px; height: 4.002em;"></span></span><span style="position: absolute;font-family: MathJax_Main;top: -4.1em;left: 0.65em;">−<span style="display: inline-block; width: 0px; height: 4.002em;"></span></span></span><span style="display: inline-block; width: 0px; height: 4.002em;"></span></span><span style="position: absolute; clip: rect(3.085em 1000.84em 4.335em -999.998em); top: -3.998em; left: 0em;"><span style="font-family: MathJax_Main;">√</span><span style="display: inline-block; width: 0px; height: 4.002em;"></span></span></span></span><span class="mo" id="MathJax-Span-2374" style="font-family: MathJax_Main; padding-left: 0.21em;">⋅</span><span class="msubsup" id="MathJax-Span-2375" style="padding-left: 0.21em;"><span style="display: inline-block; position: relative; width: 1.044em; height: 0px;"><span style="position: absolute; clip: rect(3.21em 1000.75em 4.127em -999.998em); top: -3.998em; left: 0em;"><span class="mi" id="MathJax-Span-2376" style="font-family: MathJax_Math-italic;">P<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.127em;"></span></span><span style="display: inline-block; width: 0px; height: 4.002em;"></span></span><span style="position: absolute; top: -1.956em; left: 0.627em;"><span class="texatom" id="MathJax-Span-2377"><span class="mrow" id="MathJax-Span-2378"><span class="mo" id="MathJax-Span-2379" style="font-size: 70.7%;"><span style="font-family: STIXGeneral, &quot;Arial Unicode MS&quot;, serif; font-size: 83%; font-style: normal; font-weight: normal;">н</span></span></span></span><span style="display: inline-block; width: 0px; height: 2.169em;"></span></span></span></span></span><span style="display: inline-block; width: 0px; height: 2.21em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.497em; border-left: 0px solid; width: 0px; height: 1.602em;"></span></span></nobr></span>
                    <br />
                    <span class="MathJax" id="MathJax-Element-408-Frame" tabindex="0" style="text-align: center;"><nobr><span class="math" id="MathJax-Span-2410" style="width: 0.627em; display: inline-block;"><span style="display: inline-block; position: relative; width: 0.502em; height: 0px; font-size: 120%;"><span style="position: absolute; clip: rect(1.585em 1000.5em 2.502em -999.998em); top: -2.165em; left: 0em;"><span class="mrow" id="MathJax-Span-2411"><span class="mi" id="MathJax-Span-2412" style="font-family: MathJax_Math-italic;">η<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.002em;"></span></span></span><span style="display: inline-block; width: 0px; height: 2.169em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.297em; border-left: 0px solid; width: 0px; height: 0.903em;"></span></span></nobr></span>
                    <input id="Nu" name="Nu" type="text" value="@Model.Nu"> <span id="alertNu" class="alert"></span>
                    <p>коэффициент, принимаемый по <button type="button" class="modal_button" data-toggle="modal" data-target="#A2">таблице А.2</button> в зависимости от скорости и температуры воздушного потока над поверхностью испарения</p>
                    <span class="MathJax" id="MathJax-Element-272-Frame" tabindex="0" style="text-align: center;"><nobr><span class="math" id="MathJax-Span-1320" style="width: 7.502em; display: inline-block;"><span style="display: inline-block; position: relative; width: 6.252em; height: 0px; font-size: 120%;"><span style="position: absolute; clip: rect(1.085em 1006.25em 2.544em -999.998em); top: -2.206em; left: 0em;"><span class="mrow" id="MathJax-Span-1321"><span class="mi" id="MathJax-Span-1322" style="font-family: MathJax_Math-italic;">M<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.085em;"></span></span><span class="mo" id="MathJax-Span-1323" style="font-family: MathJax_Main;">,</span><span class="msubsup" id="MathJax-Span-1324" style="padding-left: 0.169em;"><span style="display: inline-block; position: relative; width: 0.96em; height: 0px;"><span style="position: absolute; clip: rect(1.252em 1000.54em 2.502em -999.998em); top: -2.165em; left: 0em;"><span class="texatom" id="MathJax-Span-1325"><span class="mrow" id="MathJax-Span-1326"><span class="mo" id="MathJax-Span-1327"><span style="font-family: STIXGeneral, &quot;Arial Unicode MS&quot;, serif; font-size: 83%; font-style: normal; font-weight: normal;">м</span></span></span></span><span style="display: inline-block; width: 0px; height: 2.169em;"></span></span><span style="position: absolute; top: -4.54em; left: 0.544em;"><span class="mn" id="MathJax-Span-1328" style="font-size: 70.7%; font-family: MathJax_Main;">3</span><span style="display: inline-block; width: 0px; height: 4.002em;"></span></span></span></span><span class="mo" id="MathJax-Span-1329" style="font-family: MathJax_Main; padding-left: 0.21em;">⋅</span><span class="texatom" id="MathJax-Span-1330" style="padding-left: 0.21em;"><span class="mrow" id="MathJax-Span-1331"><span class="mo" id="MathJax-Span-1332"><span style="font-family: STIXGeneral, &quot;Arial Unicode MS&quot;, serif; font-size: 83%; font-style: normal; font-weight: normal;">к</span></span></span></span><span class="texatom" id="MathJax-Span-1333"><span class="mrow" id="MathJax-Span-1334"><span class="mo" id="MathJax-Span-1335"><span style="font-family: STIXGeneral, &quot;Arial Unicode MS&quot;, serif; font-size: 83%; font-style: normal; font-weight: normal;">м</span></span></span></span><span class="texatom" id="MathJax-Span-1336"><span class="mrow" id="MathJax-Span-1337"><span class="mo" id="MathJax-Span-1338"><span style="font-family: STIXGeneral, &quot;Arial Unicode MS&quot;, serif; font-size: 83%; font-style: normal; font-weight: normal;">о</span></span></span></span><span class="texatom" id="MathJax-Span-1339"><span class="mrow" id="MathJax-Span-1340"><span class="mo" id="MathJax-Span-1341"><span style="font-family: STIXGeneral, &quot;Arial Unicode MS&quot;, serif; font-size: 83%; font-style: normal; font-weight: normal;">л</span></span></span></span><span class="msubsup" id="MathJax-Span-1342"><span style="display: inline-block; position: relative; width: 1.335em; height: 0px;"><span style="position: absolute; clip: rect(1.252em 1000.38em 2.502em -999.998em); top: -2.165em; left: 0em;"><span class="texatom" id="MathJax-Span-1343"><span class="mrow" id="MathJax-Span-1344"><span class="mo" id="MathJax-Span-1345"><span style="font-family: STIXGeneral, &quot;Arial Unicode MS&quot;, serif; font-size: 83%; font-style: normal; font-weight: normal;">ь</span></span></span></span><span style="display: inline-block; width: 0px; height: 2.169em;"></span></span><span style="position: absolute; top: -4.54em; left: 0.377em;"><span class="texatom" id="MathJax-Span-1346"><span class="mrow" id="MathJax-Span-1347"><span class="mo" id="MathJax-Span-1348" style="font-size: 70.7%; font-family: MathJax_Main;">−</span><span class="mn" id="MathJax-Span-1349" style="font-size: 70.7%; font-family: MathJax_Main;">1</span></span></span><span style="display: inline-block; width: 0px; height: 4.002em;"></span></span></span></span></span><span style="display: inline-block; width: 0px; height: 2.21em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.297em; border-left: 0px solid; width: 0px; height: 1.552em;"></span></span></nobr></span>
                    <input id="MW" name="MW" type="text" value="@Model.MW"> <span id="alertMW" class="alert"></span>
                    <p>молярная масса</p>
                    <span class="MathJax" id="MathJax-Element-418-Frame" tabindex="0" style="text-align: center;"><nobr><span class="math" id="MathJax-Span-2468" style="width: 3.585em; display: inline-block;"><span style="display: inline-block; position: relative; width: 2.96em; height: 0px; font-size: 120%;"><span style="position: absolute; clip: rect(1.294em 1002.96em 2.71em -999.998em); top: -2.206em; left: 0em;"><span class="mrow" id="MathJax-Span-2469"><span class="msubsup" id="MathJax-Span-2470"><span style="display: inline-block; position: relative; width: 1.127em; height: 0px;"><span style="position: absolute; clip: rect(3.21em 1000.75em 4.127em -999.998em); top: -3.998em; left: 0em;"><span class="mi" id="MathJax-Span-2471" style="font-family: MathJax_Math-italic;">P<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.127em;"></span></span><span style="display: inline-block; width: 0px; height: 4.002em;"></span></span><span style="position: absolute; top: -1.956em; left: 0.627em;"><span class="texatom" id="MathJax-Span-2472"><span class="mrow" id="MathJax-Span-2473"><span class="mo" id="MathJax-Span-2474" style="font-size: 70.7%;"><span style="font-family: STIXGeneral, &quot;Arial Unicode MS&quot;, serif; font-size: 83%; font-style: normal; font-weight: normal;">Н</span></span></span></span><span style="display: inline-block; width: 0px; height: 2.169em;"></span></span></span></span><span class="mo" id="MathJax-Span-2475" style="font-family: MathJax_Main;">,</span><span class="texatom" id="MathJax-Span-2476" style="padding-left: 0.169em;"><span class="mrow" id="MathJax-Span-2477"><span class="mo" id="MathJax-Span-2478"><span style="font-family: STIXGeneral, &quot;Arial Unicode MS&quot;, serif; font-size: 83%; font-style: normal; font-weight: normal;">к</span></span></span></span><span class="texatom" id="MathJax-Span-2479"><span class="mrow" id="MathJax-Span-2480"><span class="mo" id="MathJax-Span-2481"><span style="font-family: STIXGeneral, &quot;Arial Unicode MS&quot;, serif; font-size: 83%; font-style: normal; font-weight: normal;">П</span></span></span></span><span class="texatom" id="MathJax-Span-2482"><span class="mrow" id="MathJax-Span-2483"><span class="mo" id="MathJax-Span-2484"><span style="font-family: STIXGeneral, &quot;Arial Unicode MS&quot;, serif; font-size: 83%; font-style: normal; font-weight: normal;">а</span></span></span></span></span><span style="display: inline-block; width: 0px; height: 2.21em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.497em; border-left: 0px solid; width: 0px; height: 1.502em;"></span></span></nobr></span>
                    <p>давление насыщенного пара при расчетной температуре жидкости t<sub>p</sub>, определяемое по справочным данным</p>
                    <span class="MathJax" id="MathJax-Element-468-Frame" tabindex="0" style="text-align: center;"><nobr><span class="math" id="MathJax-Span-3066" style="width: 8.502em; display: inline-block;"><span style="display: inline-block; position: relative; width: 7.085em; height: 0px; font-size: 120%;"><span style="position: absolute; clip: rect(0.835em 1007.09em 2.71em -999.998em); top: -2.206em; left: 0em;"><span class="mrow" id="MathJax-Span-3067"><span class="msubsup" id="MathJax-Span-3068"><span style="display: inline-block; position: relative; width: 1.127em; height: 0px;"><span style="position: absolute; clip: rect(3.21em 1000.75em 4.127em -999.998em); top: -3.998em; left: 0em;"><span class="mi" id="MathJax-Span-3069" style="font-family: MathJax_Math-italic;">P<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.127em;"></span></span><span style="display: inline-block; width: 0px; height: 4.002em;"></span></span><span style="position: absolute; top: -1.956em; left: 0.627em;"><span class="texatom" id="MathJax-Span-3070"><span class="mrow" id="MathJax-Span-3071"><span class="mo" id="MathJax-Span-3072" style="font-size: 70.7%;"><span style="font-family: STIXGeneral, &quot;Arial Unicode MS&quot;, serif; font-size: 83%; font-style: normal; font-weight: normal;">Н</span></span></span></span><span style="display: inline-block; width: 0px; height: 2.169em;"></span></span></span></span><span class="mo" id="MathJax-Span-3073" style="font-family: MathJax_Main; padding-left: 0.294em;">=</span><span class="msubsup" id="MathJax-Span-3074" style="padding-left: 0.294em;"><span style="display: inline-block; position: relative; width: 4.585em; height: 0px;"><span style="position: absolute; clip: rect(3.21em 1000.96em 4.169em -999.998em); top: -3.998em; left: 0em;"><span class="mn" id="MathJax-Span-3075" style="font-family: MathJax_Main;">10</span><span style="display: inline-block; width: 0px; height: 4.002em;"></span></span><span style="position: absolute; top: -4.581em; left: 1.002em;"><span class="texatom" id="MathJax-Span-3076"><span class="mrow" id="MathJax-Span-3077"><span class="mo" id="MathJax-Span-3078" style="font-size: 70.7%; font-family: MathJax_Main;">(</span><span class="mi" id="MathJax-Span-3079" style="font-size: 70.7%; font-family: MathJax_Math-italic;">A</span><span class="mo" id="MathJax-Span-3080" style="font-size: 70.7%; font-family: MathJax_Main;">−</span><span class="mfrac" id="MathJax-Span-3081"><span style="display: inline-block; position: relative; width: 1.627em; height: 0px; margin-right: 0.127em; margin-left: 0.127em;"><span style="position: absolute; clip: rect(3.544em 1000.38em 4.127em -999.998em); top: -4.331em; left: 50%; margin-left: -0.206em;"><span class="mi" id="MathJax-Span-3082" style="font-size: 50%; font-family: MathJax_Math-italic;">B</span><span style="display: inline-block; width: 0px; height: 4.002em;"></span></span><span style="position: absolute; clip: rect(3.544em 1001.5em 4.294em -999.998em); top: -3.665em; left: 50%; margin-left: -0.748em;"><span class="mrow" id="MathJax-Span-3083"><span class="msubsup" id="MathJax-Span-3084"><span style="display: inline-block; position: relative; width: 0.46em; height: 0px;"><span style="position: absolute; clip: rect(3.544em 1000.17em 4.127em -999.998em); top: -3.998em; left: 0em;"><span class="mi" id="MathJax-Span-3085" style="font-size: 50%; font-family: MathJax_Math-italic;">t</span><span style="display: inline-block; width: 0px; height: 4.002em;"></span></span><span style="position: absolute; top: -3.915em; left: 0.169em;"><span class="mi" id="MathJax-Span-3086" style="font-size: 50%; font-family: MathJax_Math-italic;">p</span><span style="display: inline-block; width: 0px; height: 4.002em;"></span></span></span></span><span class="mo" id="MathJax-Span-3087" style="font-size: 50%; font-family: MathJax_Main;">+</span><span class="msubsup" id="MathJax-Span-3088"><span style="display: inline-block; position: relative; width: 0.669em; height: 0px;"><span style="position: absolute; clip: rect(3.544em 1000.38em 4.127em -999.998em); top: -3.998em; left: 0em;"><span class="mi" id="MathJax-Span-3089" style="font-size: 50%; font-family: MathJax_Math-italic;">C<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.044em;"></span></span><span style="display: inline-block; width: 0px; height: 4.002em;"></span></span><span style="position: absolute; top: -3.915em; left: 0.377em;"><span class="mi" id="MathJax-Span-3090" style="font-size: 50%; font-family: MathJax_Math-italic;">a</span><span style="display: inline-block; width: 0px; height: 4.002em;"></span></span></span></span></span><span style="display: inline-block; width: 0px; height: 4.002em;"></span></span><span style="position: absolute; clip: rect(0.877em 1001.63em 1.169em -999.998em); top: -1.206em; left: 0em;"><span style="display: inline-block; overflow: hidden; vertical-align: 0em; border-top: 1.4px solid; width: 1.627em; height: 0px;"></span><span style="display: inline-block; width: 0px; height: 1.044em;"></span></span></span></span><span class="mo" id="MathJax-Span-3091" style="font-size: 70.7%; font-family: MathJax_Main;">)</span></span></span><span style="display: inline-block; width: 0px; height: 4.002em;"></span></span></span></span></span><span style="display: inline-block; width: 0px; height: 2.21em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.497em; border-left: 0px solid; width: 0px; height: 2.052em;"></span></span></nobr></span>
                    <p>
                        A <input id="A" name="A" type="text" value="@Model.A"> <span id="alertA" class="alert"></span>
                    </p>
                    <p>
                       B <input id="B" name="B" type="text" value="@Model.B"> <span id="alertB" class="alert"></span>
                    </p>
                    <p>
                       C<sub>a</sub> <input id="Ca" name="Ca" type="text" value="@Model.Ca"> <span id="alertCa" class="alert"></span>
                    </p>
                    <p>из <button type="button" class="modal_button" data-toggle="modal" data-target="#help">справочной литературы</button> находятся значения констант Антуана А, В и С<sub>а</sub></p>
                    <p>
                       t<sub>p</sub> <input id="Tp2" name="Tp2" type="text" value="@Model.Tp2"> <span id="alertTp2" class="alert"></span>
                    </p>
                    <p>расчетная <button type="button" class="modal_button" data-toggle="modal" data-target="#temperatura2">температура</button>, (см. п.6 расчета)</p>
                    <button type="submit" value="WButton" name="submitButton" class="btn center">
                        Посчитать W
                    </button>
                </div>
            </div>
            <hr />
            <div class="well">
                <span class="MathJax" id="MathJax-Element-516-Frame" tabindex="0" style="text-align: center;"><nobr><span class="math" id="MathJax-Span-3406" style="width: 2.96em; display: inline-block;"><span style="display: inline-block; position: relative; width: 2.46em; height: 0px; font-size: 120%;"><span style="position: absolute; clip: rect(1.085em 1002.46em 2.71em -999.998em); top: -2.206em; left: 0em;"><span class="mrow" id="MathJax-Span-3407"><span class="msubsup" id="MathJax-Span-3408"><span style="display: inline-block; position: relative; width: 1.044em; height: 0px;"><span style="position: absolute; clip: rect(3.21em 1000.75em 4.127em -999.998em); top: -3.998em; left: 0em;"><span class="mi" id="MathJax-Span-3409" style="font-family: MathJax_Math-italic;">F<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.127em;"></span></span><span style="display: inline-block; width: 0px; height: 4.002em;"></span></span><span style="position: absolute; top: -1.956em; left: 0.627em;"><span class="texatom" id="MathJax-Span-3410"><span class="mrow" id="MathJax-Span-3411"><span class="mo" id="MathJax-Span-3412" style="font-size: 70.7%;"><span style="font-family: STIXGeneral, &quot;Arial Unicode MS&quot;, serif; font-size: 83%; font-style: normal; font-weight: normal;">и</span></span></span></span><span style="display: inline-block; width: 0px; height: 2.169em;"></span></span></span></span><span class="mo" id="MathJax-Span-3413" style="font-family: MathJax_Main;">,</span><span class="msubsup" id="MathJax-Span-3414" style="padding-left: 0.169em;"><span style="display: inline-block; position: relative; width: 0.96em; height: 0px;"><span style="position: absolute; clip: rect(1.252em 1000.54em 2.502em -999.998em); top: -2.165em; left: 0em;"><span class="texatom" id="MathJax-Span-3415"><span class="mrow" id="MathJax-Span-3416"><span class="mo" id="MathJax-Span-3417"><span style="font-family: STIXGeneral, &quot;Arial Unicode MS&quot;, serif; font-size: 83%; font-style: normal; font-weight: normal;">м</span></span></span></span><span style="display: inline-block; width: 0px; height: 2.169em;"></span></span><span style="position: absolute; top: -4.54em; left: 0.544em;"><span class="mn" id="MathJax-Span-3418" style="font-size: 70.7%; font-family: MathJax_Main;">2</span><span style="display: inline-block; width: 0px; height: 4.002em;"></span></span></span></span></span><span style="display: inline-block; width: 0px; height: 2.21em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.497em; border-left: 0px solid; width: 0px; height: 1.752em;"></span></span></nobr></span>
                площадь испарения, определяемая в соответствии с <button type="button" class="modal_button" data-toggle="modal" data-target="#Fi">А.1.2</button> в зависимости от объема жидкости m<sub>п</sub>, вышедшей в помещение
                <table>
                    <tr>
                        <td rowspan="2">
                            V <input id="V" name="V" type="text" value="@Model.V"> <span id="alertV" class="alert"></span>
                            объем жидкости вышедшей в помещение
                        </td>
                        <td rowspan="2" class="tdX">
                            X
                        </td>
                        <td>
                            <input type="radio" name="Vkoef" class="radio" id="Vkoef" value="0,5" checked/>
                            <label for="Vkoef">0,5</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" name="Vkoef" class="radio" id="Vkoef1" value="1" />
                            <label for="Vkoef1">1</label>
                        </td>
                    </tr>
                </table>
            </div>
            <hr />
            <div class="well">
                <p>
                    T, c  <input id="T" name="T" type="text" value="@Model.T"> <span id="alertT" class="alert"></span>
                    продолжительность поступления паров легковоспламеняющихся и горючих жидкостей в объем помещения, определяемое по <button type="button" class="modal_button" data-toggle="modal" data-target="#T12">А.1.2</button>
                </p>
            </div>
            <button type="submit" value="MrButton" name="submitButton" class="btn center">
                Посчитать m<sub>р</sub>
            </button>
        </div>
    </div>
    <hr />
    <div class="well">
        <span class="MathJax" id="MathJax-Element-482-Frame" tabindex="0" style="text-align: center;"><nobr><span class="math" id="MathJax-Span-3131" style="width: 2.252em; display: inline-block;"><span style="display: inline-block; position: relative; width: 1.877em; height: 0px; font-size: 120%;"><span style="position: absolute; clip: rect(1.585em 1001.88em 2.669em -999.998em); top: -2.165em; left: 0em;"><span class="mrow" id="MathJax-Span-3132"><span class="msubsup" id="MathJax-Span-3133"><span style="display: inline-block; position: relative; width: 1.877em; height: 0px;"><span style="position: absolute; clip: rect(3.419em 1000.88em 4.127em -999.998em); top: -3.998em; left: 0em;"><span class="mi" id="MathJax-Span-3134" style="font-family: MathJax_Math-italic;">m</span><span style="display: inline-block; width: 0px; height: 4.002em;"></span></span><span style="position: absolute; top: -1.956em; left: 0.877em;"><span class="texatom" id="MathJax-Span-3135"><span class="mrow" id="MathJax-Span-3136"><span class="texatom" id="MathJax-Span-3137"><span class="mrow" id="MathJax-Span-3138"><span class="mo" id="MathJax-Span-3139" style="font-size: 70.7%;"><span style="font-family: STIXGeneral, &quot;Arial Unicode MS&quot;, serif; font-size: 83%; font-style: normal; font-weight: normal;">е</span></span></span></span><span class="texatom" id="MathJax-Span-3140"><span class="mrow" id="MathJax-Span-3141"><span class="mo" id="MathJax-Span-3142" style="font-size: 70.7%;"><span style="font-family: STIXGeneral, &quot;Arial Unicode MS&quot;, serif; font-size: 83%; font-style: normal; font-weight: normal;">м</span></span></span></span><span class="texatom" id="MathJax-Span-3143"><span class="mrow" id="MathJax-Span-3144"><span class="mo" id="MathJax-Span-3145" style="font-size: 70.7%;"><span style="font-family: STIXGeneral, &quot;Arial Unicode MS&quot;, serif; font-size: 83%; font-style: normal; font-weight: normal;">к</span></span></span></span></span></span><span style="display: inline-block; width: 0px; height: 2.169em;"></span></span></span></span></span><span style="display: inline-block; width: 0px; height: 2.169em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.497em; border-left: 0px solid; width: 0px; height: 1.052em;"></span></span></nobr></span>
        <input id="Memk" name="Memk" type="text" value="@Model.Memk"> <span id="alertMemk" class="alert"></span>
    </div>
    <hr />
    <div class="well">
        <span class="MathJax" id="MathJax-Element-487-Frame" tabindex="0" style="text-align: center;"><nobr><span class="math" id="MathJax-Span-3214" style="width: 3.335em; display: inline-block;"><span style="display: inline-block; position: relative; width: 2.752em; height: 0px; font-size: 120%;"><span style="position: absolute; clip: rect(1.585em 1002.75em 2.669em -999.998em); top: -2.165em; left: 0em;"><span class="mrow" id="MathJax-Span-3215"><span class="msubsup" id="MathJax-Span-3216"><span style="display: inline-block; position: relative; width: 2.752em; height: 0px;"><span style="position: absolute; clip: rect(3.419em 1000.88em 4.127em -999.998em); top: -3.998em; left: 0em;"><span class="mi" id="MathJax-Span-3217" style="font-family: MathJax_Math-italic;">m</span><span style="display: inline-block; width: 0px; height: 4.002em;"></span></span><span style="position: absolute; top: -1.956em; left: 0.877em;"><span class="texatom" id="MathJax-Span-3218"><span class="mrow" id="MathJax-Span-3219"><span class="texatom" id="MathJax-Span-3220"><span class="mrow" id="MathJax-Span-3221"><span class="mo" id="MathJax-Span-3222" style="font-size: 70.7%;"><span style="font-family: STIXGeneral, &quot;Arial Unicode MS&quot;, serif; font-size: 83%; font-style: normal; font-weight: normal;">с</span></span></span></span><span class="texatom" id="MathJax-Span-3223"><span class="mrow" id="MathJax-Span-3224"><span class="mo" id="MathJax-Span-3225" style="font-size: 70.7%;"><span style="font-family: STIXGeneral, &quot;Arial Unicode MS&quot;, serif; font-size: 83%; font-style: normal; font-weight: normal;">в</span></span></span></span><span class="mo" id="MathJax-Span-3226" style="font-size: 70.7%; font-family: MathJax_Main;">.</span><span class="texatom" id="MathJax-Span-3227"><span class="mrow" id="MathJax-Span-3228"><span class="mo" id="MathJax-Span-3229" style="font-size: 70.7%;"><span style="font-family: STIXGeneral, &quot;Arial Unicode MS&quot;, serif; font-size: 83%; font-style: normal; font-weight: normal;">о</span></span></span></span><span class="texatom" id="MathJax-Span-3230"><span class="mrow" id="MathJax-Span-3231"><span class="mo" id="MathJax-Span-3232" style="font-size: 70.7%;"><span style="font-family: STIXGeneral, &quot;Arial Unicode MS&quot;, serif; font-size: 83%; font-style: normal; font-weight: normal;">к</span></span></span></span><span class="texatom" id="MathJax-Span-3233"><span class="mrow" id="MathJax-Span-3234"><span class="mo" id="MathJax-Span-3235" style="font-size: 70.7%;"><span style="font-family: STIXGeneral, &quot;Arial Unicode MS&quot;, serif; font-size: 83%; font-style: normal; font-weight: normal;">р</span></span></span></span><span class="mo" id="MathJax-Span-3236" style="font-size: 70.7%; font-family: MathJax_Main;">.</span></span></span><span style="display: inline-block; width: 0px; height: 2.169em;"></span></span></span></span></span><span style="display: inline-block; width: 0px; height: 2.169em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.497em; border-left: 0px solid; width: 0px; height: 1.052em;"></span></span></nobr></span>
        <input id="Msvokr" name="Msvokr" type="text" value="@Model.Msvokr"> <span id="alertMsvokr" class="alert"></span>
    </div>
    <button type="submit" value="mButton" name="submitButton" class="btn center">Рассчитать массу</button>
</div>
<div id="A2" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <table width="100%">
                    <tbody>
                        <tr>
                            <td rowspan="2" width="25%" class="border-bottom-right">
                                <p>Скорость воздушного потока <br /> в помещении, м·с<sup>-1</sup></p>
                            </td>
                            <td colspan="5" class="border-bottom">
                                <p>Значение коэффициента ƞ при температуре <em>t</em>, °С, воздуха в помещении</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="15%" class="border-bottom-right">
                                <p>10</p>
                            </td>
                            <td width="15%" class="border-bottom-right">
                                <p>15</p>
                            </td>
                            <td width="15%" class="border-bottom-right">
                                <p>20</p>
                            </td>
                            <td width="15%" class="border-bottom-right">
                                <p>30</p>
                            </td>
                            <td width="15%" class="border-bottom">
                                <p>35</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="border-bottom-right">
                                <p>0</p>
                            </td>
                            <td class="border-bottom-right">
                                <p>1,0</p>
                            </td>
                            <td class="border-bottom-right">
                                <p>1,0</p>
                            </td>
                            <td class="border-bottom-right">
                                <p>1,0</p>
                            </td>
                            <td class="border-bottom-right">
                                <p>1,0</p>
                            </td>
                            <td class="border-bottom">
                                <p>1,0</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="border-bottom-right">
                                <p>0,1</p>
                            </td>
                            <td class="border-bottom-right">
                                <p>3,0</p>
                            </td>
                            <td class="border-bottom-right">
                                <p>2,6</p>
                            </td>
                            <td class="border-bottom-right">
                                <p>2,4</p>
                            </td>
                            <td class="border-bottom-right">
                                <p>1,8</p>
                            </td>
                            <td class="border-bottom">
                                <p>1,6</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="border-bottom-right">
                                <p>0,2</p>
                            </td>
                            <td class="border-bottom-right">
                                <p>4,6</p>
                            </td>
                            <td class="border-bottom-right">
                                <p>3,8</p>
                            </td>
                            <td class="border-bottom-right">
                                <p>3,5</p>
                            </td>
                            <td class="border-bottom-right">
                                <p>2,4</p>
                            </td>
                            <td class="border-bottom">
                                <p>2,3</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="border-bottom-right">
                                <p>0,5</p>
                            </td>
                            <td class="border-bottom-right">
                                <p>6,6</p>
                            </td>
                            <td class="border-bottom-right">
                                <p>5,7</p>
                            </td>
                            <td class="border-bottom-right">
                                <p>5,4</p>
                            </td>
                            <td class="border-bottom-right">
                                <p>3,6</p>
                            </td>
                            <td class="border-bottom">
                                <p>3,2</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="border-right">
                                <p>1,0</p>
                            </td>
                            <td class="border-right">
                                <p>10,0</p>
                            </td>
                            <td class="border-right">
                                <p>8,7</p>
                            </td>
                            <td class="border-right">
                                <p>7,7</p>
                            </td>
                            <td class="border-right">
                                <p>5,6</p>
                            </td>
                            <td>
                                <p>4,6</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p>По табл. А.2 [1] выбирается значение коэффициента ƞ. При отсутствии аварийной вентилянии или постояноно работающей общеобменной вентиляции в помещении значение коэффициетпа ƞ принимается равным 1,0. При наличии аварийной или постоянно работающей общеобменной вентиляции в помещении, удовлетворяющей требованиям п. А.2.3 [1], определяется скорость воздушного потока в помещении <i>U=A·L</i>, где <i>A</i> — кратностъ воздухообмена аварийной вентиляции (с<sup>-1</sup>) и <i>L</i> длина помещения, м. Исходя из значений <i>U</i> и <i>t<sub>p</sub></i> определяется значение коэффициента ƞ</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<div id="help" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>
                    Пожаровзрывоопасность веществ и материалов и средства их тушения: Справ. Изд.: в 2 кн./А.Н. Баратов [и др.]. М.: Химия, 1990. 496 с., 384 с.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<div id="Fi" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>
                    Площадь испарения при разливе на пол определяется (при отсутствии справочных данных), исходя из расчета:
                    1 литр смесей и растворов, содержащих 70 % и менее (по массе) растворителей, разливается на площади 0,5 м2,
                    остальных жидкостей — на 1 м2 пола помещения
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<div id="temperatura2" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>
                    В качестве расчетной температуры следует принимать максимально возможную температуру воздуха в данном помещении в соответствующей климатической зоне или максимально возможную температуру воздуха по технологическому регламенту с учетом возможного повышения температуры в аварийной ситуации. Если такого значения расчетной температуры tр по каким-либо причинам определить не удается, допускается принимать ее равной 61 °С
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<div id="T12" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>
                    длительность испарения жидкости принимается равной времени ее полного испарения, но не более 3600 с
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>